$bg-white: #ffffff !default;
$bg-black: #000000 !default;

@mixin container {
    width: 100vw;
    height: 100vh;    
}

@mixin btn-black($w, $h) {
    width: $w;
    height: $h;
    background-color: $bg-black;
    color: $bg-white;
    border: 1px solid $bg-black;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        transform: scale(1);
    }
    &:active {
        transform: scale(1.05);
    }    
}